* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Raleway';
  font-feature-settings: 'ss02' on, 'ss01' on;
  -webkit-font-smoothing: antialiased;
}

#app {
  min-height: 100vh;
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

@-webkit-keyframes autofill {
  0%,
  100% {
    color: #666;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-delay: 1s;
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

input[type='color'] {
  -webkit-appearance: none;
  border: none;
  width: 2rem;
  height: 1rem;
  cursor: pointer;
}
input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type='color']::-webkit-color-swatch {
  border: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  text-align: center;
}

/* waiting for future support experimental features */

*::grammar-error {
  background-color: var(--theme-grammar-error);
  color: black;
}

*::spelling-error {
  background-color: var(--theme-spelling-error);
  color: black;
}

*::target-text {
  background-color: var(--theme-target-text);
  color: black;
}

*::selection {
  background: var(--wb-selection);
  color: var(--wb-text-selection);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--src-track);
}

*::-webkit-scrollbar-thumb {
  background: var(--scr-thumb);
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--scr-thumb-hover);
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.editable:empty:before {
  content: attr(data-placeholder);
  opacity: 0.75;
  cursor: text;
}

.blink::after {
  content: '|';
  animation: blink 1s infinite step-start;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
