@font-face {
  font-family: Poppins;
  src: url(/public/fonts/Poppins-Light.ttf);
  font-weight: 200;
}
@font-face {
  font-family: Poppins;
  src: url(/public/fonts/Poppins-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Poppins;
  src: url(/public/fonts/Poppins-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: Poppins;
  src: url(/public/fonts/Poppins-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Raleway;
  src: url(/public/fonts/Raleway-Light.ttf);
  font-weight: 200;
}
@font-face {
  font-family: Raleway;
  src: url(/public/fonts/Raleway-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Raleway;
  src: url(/public/fonts/Raleway-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: Raleway;
  src: url(/public/fonts/Raleway-Bold.ttf);
  font-weight: bold;
}