/* BW Custom Theme */
.betterwrite-custom {
  --theme-transparent: transparent;
  --theme-black: #000000;
  --theme-white: #ffffff;
  --theme-background-1: rgba(0, 0, 0, 0.5);
  --theme-background-2: rgba(0, 0, 0, 0.5);
  --theme-background-3: rgba(0, 0, 0, 0.5);
  --theme-background-4: rgba(0, 0, 0, 0.5);
  --theme-background-opacity-1: rgba(0, 0, 0, 0.15);
  --theme-background-absolute-1: rgba(0, 0, 0, 0.75);
  --theme-border-1: rgba(0, 0, 0, 0.75);
  --theme-border-aside-1: #414141;
  --theme-border-absolute-1: #ffffff;
  --theme-border-absolute-2: #202020;
  --theme-border-commands-1: #000000;
  --theme-icon: #b1b5bb;
  --theme-icon-hover: #ffffff;
  --theme-icon-active: #ffffff;
  --theme-text-commands-1: #e5e7eb;
  --theme-aside-background: rgba(0, 0, 0, 0.2);
  --theme-aside-background-hover: rgba(0, 0, 0, 0.2);
  --theme-aside-background-active: rgba(0, 0, 0, 0.2);
  --theme-aside-logo-background: none;
  --theme-aside-logo-text: #d1d5db;
  --theme-aside-graph-lines: #414141;
  --theme-aside-graph-text: #d1d5db;
  --theme-aside-graph-text-hover: #d1d5db;
  --theme-aside-graph-text-active: #d1d5db;
  --theme-aside-graph-background: none;
  --theme-aside-graph-background-hover: rgb(0, 0, 0, 0.2);
  --theme-aside-graph-background-active: rgb(0, 0, 0, 0.2);
  --theme-editor-scrollbar-track: transparent;
  --theme-editor-scrollbar-thumb:  rgb(0, 0, 0, 0.5);
  --theme-editor-betterwrite: #e5e7eb;
  --theme-editor-io: #e5e7eb;
  --theme-editor-full-background: rgba(0, 0, 0, 0.75);
  --theme-editor-full-background-hover: rgba(0, 0, 0, 0.75);
  --theme-editor-full-background-active: rgba(0, 0, 0, 0.75);
  --theme-editor-background: rgba(0, 0, 0, 0.2);
  --theme-editor-background-hover: rgba(0, 0, 0, 0.2);
  --theme-editor-background-active: rgba(0, 0, 0, 0.2);
  --theme-editor-background-bar: rgba(0, 0, 0, 0.4);
  --theme-editor-background-bar-hover: rgba(0, 0, 0, 0.4);
  --theme-editor-background-bar-active: rgba(0, 0, 0, 0.4);
  --theme-editor-entity-background: none;
  --theme-editor-entity-background-hover: none;
  --theme-editor-entity-background-active: none;
  --theme-editor-entity-text: #e5e7eb;
  --theme-editor-entity-text-hover: #e5e7eb;
  --theme-editor-entity-text-active: #e5e7eb;
  --theme-editor-entity-heading-one: #e1e1e1;
  --theme-editor-entity-heading-one-hover: #e1e1e1;
  --theme-editor-entity-heading-one-active: #e1e1e1;
  --theme-editor-entity-heading-two: #e1e1e1;
  --theme-editor-entity-heading-two-hover: #e1e1e1;
  --theme-editor-entity-heading-two-active: #e1e1e1;
  --theme-editor-entity-heading-three: #e1e1e1;
  --theme-editor-entity-heading-three-hover: #e1e1e1;
  --theme-editor-entity-heading-three-active: #e1e1e1;
  --theme-editor-entity-page: rgba(0, 0, 0, 0.75);
  --theme-editor-entity-line: rgba(0, 0, 0, 0.75);
  --theme-editor-entity-popover-text: #e1e1e1;
  --theme-editor-entity-popover-text-hover: #e1e1e1;
  --theme-editor-entity-popover-text-active: #e1e1e1;
  --theme-editor-entity-popover-background: rgba(0, 0, 0, 0.75);
  --theme-editor-entity-popover-background-hover: rgba(0, 0, 0, 0.75);
  --theme-editor-entity-popover-background-active: rgba(0, 0, 0, 0.75);
  --theme-editor-entity-info: rgba(139, 191, 250, 0.1);
  --theme-editor-entity-info-hover: rgba(139, 191, 250, 0.1);
  --theme-editor-entity-info-active: rgba(139, 191, 250, 0.1);
  --theme-editor-entity-warning: rgba(255, 231, 137, 0.3);
  --theme-editor-entity-warning-hover: rgba(255, 231, 137, 0.3);
  --theme-editor-entity-warning-active: rgba(255, 231, 137, 0.3);
  --theme-editor-entity-error: rgba(245, 86, 94, 0.3);
  --theme-editor-entity-error-hover: rgba(245, 86, 94, 0.3);
  --theme-editor-entity-error-active: rgba(245, 86, 94, 0.3);
  --theme-editor-bold-text: #e5e7eb;
  --theme-editor-bold-text-hover: #e5e7eb;
  --theme-editor-bold-text-active: #e5e7eb;
  --theme-editor-italic-text: #e5e7eb;
  --theme-editor-italic-text-hover: #e5e7eb;
  --theme-editor-italic-text-active: #e5e7eb;
  --theme-editor-input-background: none;
  --theme-editor-input-background-hover: none;
  --theme-editor-input-background-active: none;
  --theme-editor-input-text: #e5e7eb;
  --theme-editor-input-text-hover: #e5e7eb;
  --theme-editor-input-text-active: #e5e7eb;
  --theme-editor-input-placeholder: #e5e7eb;
  --theme-editor-header-background: rgba(0, 0, 0, 0.75);
  --theme-editor-header-background-hover: rgba(0, 0, 0, 0.75);
  --theme-editor-header-background-active: rgba(0, 0, 0, 0.75);
  --theme-editor-header-list-background: rgba(0, 0, 0, 0.3);
  --theme-editor-header-list-background-hover: rgba(0, 0, 0, 0.3);
  --theme-editor-header-list-background-active: rgba(0, 0, 0, 0.3);
  --theme-editor-header-list-text: #e5e7eb;
  --theme-editor-header-list-text-hover: #e5e7eb;
  --theme-editor-header-list-text-active: #e5e7eb;
  --theme-editor-header-list-shortcuts-background: none;
  --theme-editor-header-list-shortcuts-background-hover: #d1d5db;
  --theme-editor-header-list-shortcuts-background-active: #d1d5db;
  --theme-editor-pdf-preview-background: rgba(0, 0, 0, 0.3);
  --theme-editor-pdf-configuration-border: none;
  --theme-editor-pdf-configuration-background: rgba(0, 0, 0, 0.3);
  --theme-editor-pdf-configuration-background-hover: rgba(0, 0, 0, 0.3);
  --theme-editor-pdf-configuration-background-active: rgba(0, 0, 0, 0.3);
  --theme-editor-pdf-configuration-container-text: #e5e7eb;
  --theme-editor-pdf-configuration-container-text-hover: #e5e7eb;
  --theme-editor-pdf-configuration-container-text-active: #e5e7eb;
  --theme-editor-pdf-configuration-container-background: rgba(0, 0, 0, 0.75);
  --theme-editor-pdf-configuration-container-background-hover: rgba(0, 0, 0, 0.75);
  --theme-editor-pdf-configuration-container-background-active: rgba(0, 0, 0, 0.75);
  --theme-editor-pdf-generator-paragraph: #e5e7eb;
  --theme-editor-pdf-generator-heading-one: #e5e7eb;
  --theme-editor-pdf-generator-heading-two: #e5e7eb;
  --theme-editor-pdf-generator-heading-three: #e5e7eb;
  --theme-editor-pdf-generator-page: rgba(0, 0, 0, 0.75);
  --theme-editor-material-border: rgba(0, 0, 0, 0.75);
  --theme-editor-material-background: rgba(255, 255, 255, 0.1);
  --theme-editor-material-background-hover: rgba(255, 255, 255, 0.1);
  --theme-editor-material-background-active: rgba(255, 255, 255, 0.1);
  --theme-editor-material-text: #e5e7eb;
  --theme-editor-material-text-hover: #e5e7eb;
  --theme-editor-material-text-active: #e5e7eb;
  --theme-editor-material-boolean-background: rgba(0, 0, 0, 0.75);
  --theme-editor-material-boolean-rounded-background: #e5e7eb;
  --theme-editor-extras-switcher-background: rgba(0, 0, 0, 0.75);
  --theme-editor-extras-switcher-background-hover: rgba(0, 0, 0, 0.75);
  --theme-editor-extras-switcher-background-active: rgba(0, 0, 0, 0.75);
  --theme-editor-extras-switcher-text: #e5e7eb;
  --theme-editor-extras-switcher-text-hover: #e5e7eb;
  --theme-editor-extras-switcher-text-active: #e5e7eb;
  --theme-editor-extras-switcher-border: rgba(0, 0, 0, 0.3);
  --theme-editor-extras-finder-background: rgba(0, 0, 0, 0.75);
  --theme-editor-extras-finder-background-hover: rgba(0, 0, 0, 0.75);
  --theme-editor-extras-finder-background-active: rgba(0, 0, 0, 0.75);
  --theme-editor-extras-finder-text: #e5e7eb;
  --theme-editor-extras-finder-text-hover: #e5e7eb;
  --theme-editor-extras-finder-text-active: #e5e7eb;
  --theme-editor-extras-finder-border: rgba(0, 0, 0, 0.3);
  --theme-editor-external-comment-background: rgba(0, 0, 0, 0.75);
  --theme-editor-external-comment-background-hover: rgba(0, 0, 0, 0.75);
  --theme-editor-external-comment-background-active: rgba(0, 0, 0, 0.75);
  --theme-editor-external-comment-text: #e5e7eb;
  --theme-editor-external-comment-text-hover: #e5e7eb;
  --theme-editor-external-comment-text-active: #e5e7eb;
  --theme-editor-external-comment-title: #e5e7eb;
  --theme-editor-external-comment-title-hover: #e5e7eb;
  --theme-editor-external-comment-title-active: #e5e7eb;
  --theme-editor-external-comment-border: none;
  --theme-editor-external-comment-textarea-background: rgba(0, 0, 0, 0.75);
  --theme-editor-external-comment-textarea-background-hover: rgba(0, 0, 0, 0.75);
  --theme-editor-external-comment-textarea-background-active: rgba(0, 0, 0, 0.75);
  --theme-editor-tooltip-background: rgba(0, 0, 0, 0.75);
  --theme-editor-tooltip-text: #e5e7eb;
  --theme-editor-tooltip-border: none;
  --theme-editor-electron-update-text: #e5e7eb;
  --theme-editor-electron-update-text-hover: rgba(0, 0, 0, 0.75);
  --theme-editor-electron-update-text-active: rgba(0, 0, 0, 0.75);
  --theme-editor-nprogress-background: #e5e7eb;
  --theme-editor-nprogress-height: 2px;
  --theme-editor-creative-drafts-background: rgba(0, 0, 0, 0.75);
  --theme-editor-creative-drafts-container-background: none;
  --theme-editor-creative-drafts-container-borders: rgba(0, 0, 0, 0.1);
  --theme-editor-creative-drafts-container-list-background: none;
  --theme-editor-creative-drafts-container-list-background-hover: none;
  --theme-editor-creative-drafts-container-list-background-active: none;
  --theme-editor-creative-drafts-container-list-text: #e5e7eb;
  --theme-editor-creative-drafts-container-list-text-hover: #e5e7eb;
  --theme-editor-creative-drafts-container-list-text-active: #e5e7eb;
  --theme-editor-creative-drafts-container-item-background: rgba(0, 0, 0, 0.2);
  --theme-editor-creative-drafts-container-item-background-hover: rgba(0, 0, 0, 0.2);
  --theme-editor-creative-drafts-container-item-background-active: rgba(0, 0, 0, 0.2);
  --theme-editor-creative-drafts-container-item-text: #e5e7eb;
  --theme-editor-dashboard-background-main: rgba(0, 0, 0, 0.75);
  --theme-editor-dashboard-background-item: rgba(0, 0, 0, 0.75);
  --theme-editor-dashboard-background-card: rgba(0, 0, 0, 0.75);
  --theme-editor-dashboard-text: #ffffff;
  --theme-editor-render-finder-text: #ffffff;
  --theme-editor-render-finder-background: rgba(0, 0, 0, 0.75);
  --theme-editor-render-switcher-text: #ffffff;
  --theme-editor-render-switcher-background: rgba(0, 0, 0, 0.75);
  --theme-text-1: #e5e7eb;
  --theme-text-2: #d1d5db;
  --theme-text-3: #262626;
  --theme-text-active: #ffffff;
  --theme-grammar-error: #ff6261;
  --theme-spelling-error: #ffee91;
  --theme-target-text: #54b1ff;
  --theme-logger-background: rgba(0, 0, 0, 0.75);
  --theme-logger-log-text: rgb(167, 255, 229);
  --theme-logger-log-background: rgba(167, 255, 229, 0.1);
  --theme-logger-warn-text: rgb(255, 198, 132);
  --theme-logger-warn-background: rgb(255, 198, 132, 0.1);
  --theme-logger-error-text: rgb(255, 137, 135);
  --theme-logger-error-background: rgb(255, 137, 135, 0.1);
  --theme-logger-info-text: rgb(103, 147, 255);
  --theme-logger-info-background: rgb(103, 147, 255, 0.1);
  --theme-logger-entity-background: rgba(0, 0, 0, 0.75);
  --theme-logger-entity-text: #e5e7eb;
  --theme-pwa-prompt-text: #e1e1e1;
  --theme-pwa-prompt-background: rgba(0, 0, 0, 0.75);
  --theme-pwa-prompt-button-text: #e1e1e1;
  --theme-pwa-prompt-button-background: rgba(0, 0, 0, 0.75);
  --theme-milkdown-primary: #e1e1e1;
  --theme-milkdown-secondary: rgba(0, 0, 0, 0.75);
  --theme-milkdown-neutral: #e1e1e1;
  --theme-milkdown-solid: rgba(0, 0, 0, 0.3);
  --theme-milkdown-shadow: rgba(0, 0, 0, 0.3);
  --theme-milkdown-line: rgba(0, 0, 0, 0.3);
  --theme-milkdown-surface: rgba(0, 0, 0, 0.1);
  --theme-milkdown-background: rgba(0, 0, 0, 0.1);
  --theme-milkdown-default: #e1e1e1;
  --scr-track: #222;
  --scr-thumb: #262626;
  --scr-thumb-hover: #333333;
  --wb-selection: rgba(0, 0, 0, 0.75);
  --wb-text-selection: rgba(255, 255, 255, 0.75);
}
