/* Rise Theme */
.betterwrite-rise {
  --theme-transparent: transparent;
  --theme-black: #000000;
  --theme-white: #ffffff;
  --theme-background-1: #373d66;
  --theme-background-2: #2f3357;
  --theme-background-3: #161829;
  --theme-background-4: #373d66;
  --theme-background-opacity-1: rgba(0, 0, 0, 0.15);
  --theme-background-absolute-1: #2f3357;
  --theme-border-1: #535c99;
  --theme-border-aside-1: #6b7280;
  --theme-border-absolute-1: #ffffff;
  --theme-border-absolute-2: #111827;
  --theme-border-commands-1: #000000;
  --theme-aside-background: #373d66;
  --theme-aside-background-hover: #373d66;
  --theme-aside-background-active: #373d66;
  --theme-aside-logo-background: #363a63;
  --theme-aside-logo-text: #e1e1e1;
  --theme-aside-graph-lines: #8ab6ff;
  --theme-aside-graph-text: #ffffff;
  --theme-aside-graph-text-hover: #8ab6ff;
  --theme-aside-graph-text-active: #333;
  --theme-aside-graph-background: none;
  --theme-aside-graph-background-hover: #2f3357;
  --theme-aside-graph-background-active: #161829;
  --theme-editor-scrollbar-track: transparent;
  --theme-editor-scrollbar-thumb:  #2f3357;
  --theme-editor-betterwrite: #e1e1e1;
  --theme-editor-io: #8ab6ff;
  --theme-editor-full-background: #2f3357;
  --theme-editor-full-background-hover: #2f3357;
  --theme-editor-full-background-active: #2f3357;
  --theme-editor-background: #373d66;
  --theme-editor-background-hover: #373d66;
  --theme-editor-background-active: #373d66;
  --theme-editor-background-bar: #2f3663;
  --theme-editor-background-bar-hover: #2f3663;
  --theme-editor-background-bar-active: #2f3663;
  --theme-editor-entity-background: none;
  --theme-editor-entity-background-hover: none;
  --theme-editor-entity-background-active: none;
  --theme-editor-entity-text: #e1e1e1;
  --theme-editor-entity-text-hover: #e1e1e1;
  --theme-editor-entity-text-active: #e1e1e1;
  --theme-editor-entity-heading-one: #e1e1e1;
  --theme-editor-entity-heading-one-hover: #e1e1e1;
  --theme-editor-entity-heading-one-active: #e1e1e1;
  --theme-editor-entity-heading-two: #e1e1e1;
  --theme-editor-entity-heading-two-hover: #e1e1e1;
  --theme-editor-entity-heading-two-active: #e1e1e1;
  --theme-editor-entity-heading-three: #e1e1e1;
  --theme-editor-entity-heading-three-hover: #e1e1e1;
  --theme-editor-entity-heading-three-active: #e1e1e1;
  --theme-editor-entity-page: #535c99;
  --theme-editor-entity-line: #535c99;
  --theme-editor-entity-popover-text: #e1e1e1;
  --theme-editor-entity-popover-text-hover: #e1e1e1;
  --theme-editor-entity-popover-text-active: #e1e1e1;
  --theme-editor-entity-popover-background: #2f3357;
  --theme-editor-entity-popover-background-hover: #535c99;
  --theme-editor-entity-popover-background-active: #535c99;
  --theme-editor-entity-info: rgba(139, 191, 250, 0.1);
  --theme-editor-entity-info-hover: rgba(139, 191, 250, 0.1);
  --theme-editor-entity-info-active: rgba(139, 191, 250, 0.1);
  --theme-editor-entity-warning: rgba(255, 231, 137, 0.3);
  --theme-editor-entity-warning-hover: rgba(255, 231, 137, 0.3);
  --theme-editor-entity-warning-active: rgba(255, 231, 137, 0.3);
  --theme-editor-entity-error: rgba(245, 86, 94, 0.3);
  --theme-editor-entity-error-hover: rgba(245, 86, 94, 0.3);
  --theme-editor-entity-error-active: rgba(245, 86, 94, 0.3);
  --theme-editor-bold-text: #8ab6ff;
  --theme-editor-bold-text-hover: #8ab6ff;
  --theme-editor-bold-text-active: #8ab6ff;
  --theme-editor-italic-text: #8ab6ff;
  --theme-editor-italic-text-hover: #8ab6ff;
  --theme-editor-italic-text-active: #8ab6ff;
  --theme-editor-input-background: none;
  --theme-editor-input-background-hover: none;
  --theme-editor-input-background-active: none;
  --theme-editor-input-text: #e1e1e1;
  --theme-editor-input-text-hover: #e1e1e1;
  --theme-editor-input-text-active: #e1e1e1;
  --theme-editor-input-placeholder: #e1e1e1;
  --theme-editor-header-background: none;
  --theme-editor-header-background-hover: none;
  --theme-editor-header-background-active: none;
  --theme-editor-header-list-background: #2f3357;
  --theme-editor-header-list-background-hover: #181b38;
  --theme-editor-header-list-background-active: #161829;
  --theme-editor-header-list-text: #e5e7eb;
  --theme-editor-header-list-text-hover: #8ab6ff;
  --theme-editor-header-list-text-active: #8ab6ff;
  --theme-editor-header-list-shortcuts-background: none;
  --theme-editor-header-list-shortcuts-background-hover: none;
  --theme-editor-header-list-shortcuts-background-active: #d1d5db;
  --theme-editor-pdf-preview-background: #2f3357;
  --theme-editor-pdf-configuration-border: transparent;
  --theme-editor-pdf-configuration-background: #2f3357;
  --theme-editor-pdf-configuration-background-hover: #2f3357;
  --theme-editor-pdf-configuration-background-active: #2f3357;
  --theme-editor-pdf-configuration-container-text: #8ab6ff;
  --theme-editor-pdf-configuration-container-text-hover: #8ab6ff;
  --theme-editor-pdf-configuration-container-text-active: #8ab6ff;
  --theme-editor-pdf-configuration-container-background: #2f3357;
  --theme-editor-pdf-configuration-container-background-hover: #2f3357;
  --theme-editor-pdf-configuration-container-background-active: #2f3357;
  --theme-editor-pdf-generator-paragraph: #e1e1e1;
  --theme-editor-pdf-generator-heading-one: #e1e1e1;
  --theme-editor-pdf-generator-heading-two: #e1e1e1;
  --theme-editor-pdf-generator-heading-three: #e1e1e1;
  --theme-editor-pdf-generator-page: #2f3357;
  --theme-editor-material-border: #373d66;
  --theme-editor-material-background: #373d66;
  --theme-editor-material-background-hover: #373d66;
  --theme-editor-material-background-active: #373d66;
  --theme-editor-material-text: #e1e1e1;
  --theme-editor-material-text-hover: #e1e1e1;
  --theme-editor-material-text-active: #e1e1e1;
  --theme-editor-material-boolean-background: #8ab6ff;
  --theme-editor-material-boolean-rounded-background: #373d66;
  --theme-editor-extras-switcher-background: #2f3357;
  --theme-editor-extras-switcher-background-hover: #2f3357;
  --theme-editor-extras-switcher-background-active: #2f3357;
  --theme-editor-extras-switcher-text: #e1e1e1;
  --theme-editor-extras-switcher-text-hover: #e1e1e1;
  --theme-editor-extras-switcher-text-active: #e1e1e1;
  --theme-editor-extras-switcher-border: #8ab6ff;
  --theme-editor-extras-finder-background: #2f3357;
  --theme-editor-extras-finder-background-hover: #2f3357;
  --theme-editor-extras-finder-background-active: #2f3357;
  --theme-editor-extras-finder-text: #e1e1e1;
  --theme-editor-extras-finder-text-hover: #e1e1e1;
  --theme-editor-extras-finder-text-active: #e1e1e1;
  --theme-editor-extras-finder-border: #8ab6ff;
  --theme-editor-external-comment-background: #2f3357;
  --theme-editor-external-comment-background-hover: #2f3357;
  --theme-editor-external-comment-background-active: #2f3357;
  --theme-editor-external-comment-text: #e1e1e1;
  --theme-editor-external-comment-text-hover: #e1e1e1;
  --theme-editor-external-comment-text-active: #e1e1e1;
  --theme-editor-external-comment-title: #8ab6ff;
  --theme-editor-external-comment-title-hover: #8ab6ff;
  --theme-editor-external-comment-title-active: #8ab6ff;
  --theme-editor-external-comment-border: none;
  --theme-editor-external-comment-textarea-background: #373d66;
  --theme-editor-external-comment-textarea-background-hover: #373d66;
  --theme-editor-external-comment-textarea-background-active: #373d66;
  --theme-editor-tooltip-background: #2f3357;
  --theme-editor-tooltip-text: #e1e1e1;
  --theme-editor-tooltip-border: none;
  --theme-editor-electron-update-text: #e1e1e1;
  --theme-editor-electron-update-text-hover: #e1e1e1;
  --theme-editor-electron-update-text-active: #e1e1e1;
  --theme-editor-nprogress-background: #e1e1e1;
  --theme-editor-nprogress-height: 2px;
  --theme-editor-creative-drafts-background: #373d66;
  --theme-editor-creative-drafts-container-background: #373d66;
  --theme-editor-creative-drafts-container-borders: #8ab6ff;
  --theme-editor-creative-drafts-container-list-background: #373d66;
  --theme-editor-creative-drafts-container-list-background-hover: #373d66;
  --theme-editor-creative-drafts-container-list-background-active: #373d66;
  --theme-editor-creative-drafts-container-list-text: #8ab6ff;
  --theme-editor-creative-drafts-container-list-text-hover: #8ab6ff;
  --theme-editor-creative-drafts-container-list-text-active: #8ab6ff;
  --theme-editor-creative-drafts-container-item-background: #373d66;
  --theme-editor-creative-drafts-container-item-background-hover: #373d66;
  --theme-editor-creative-drafts-container-item-background-active: #373d66;
  --theme-editor-creative-drafts-container-item-text: #8ab6ff;
  --theme-editor-dashboard-background-main: #373d66;
  --theme-editor-dashboard-background-item: #2f3357;
  --theme-editor-dashboard-background-card: #161829;
  --theme-editor-dashboard-text: #ffffff;
  --theme-editor-render-finder-text: #161829;
  --theme-editor-render-finder-background: #8ab6ff;
  --theme-editor-render-switcher-text: #161829;
  --theme-editor-render-switcher-background: #8ab6ff;
  --theme-text-1: #e5e7eb;
  --theme-text-1: #e1e1e1;
  --theme-text-2: #d1d5db;
  --theme-text-3: #ffffff;
  --theme-icon: #8ab6ff;
  --theme-icon-hover: #ffffff;
  --theme-icon-active: #ffffff;
  --theme-text-commands-1: #e5e7eb;
  --theme-text-active: #ffffff;
  --theme-grammar-error: #ff6261;
  --theme-spelling-error: #ffee91;
  --theme-target-text: #54b1ff;
  --theme-logger-background: #373d66;
  --theme-logger-log-text: rgb(167, 255, 229);
  --theme-logger-log-background: rgba(167, 255, 229, 0.1);
  --theme-logger-warn-text: rgb(255, 198, 132);
  --theme-logger-warn-background: rgb(255, 198, 132, 0.1);
  --theme-logger-error-text: rgb(255, 137, 135);
  --theme-logger-error-background: rgb(255, 137, 135, 0.1);
  --theme-logger-info-text: rgb(103, 147, 255);
  --theme-logger-info-background: rgb(103, 147, 255, 0.1);
  --theme-logger-entity-background: #8ab6ff;
  --theme-logger-entity-text: black;
  --theme-pwa-prompt-text: #8ab6ff;
  --theme-pwa-prompt-background: #2f3357;
  --theme-pwa-prompt-button-text: #8ab6ff;
  --theme-pwa-prompt-button-background: #373d66;
  --theme-milkdown-primary: #e1e1e1;
  --theme-milkdown-secondary: rgba(0, 0, 0, 0.5);
  --theme-milkdown-neutral: #e1e1e1;
  --theme-milkdown-solid: rgba(0, 0, 0, 0.3);
  --theme-milkdown-shadow: rgba(0, 0, 0, 0.3);
  --theme-milkdown-line: rgba(0, 0, 0, 0.3);
  --theme-milkdown-surface: rgba(0, 0, 0, 0.1);
  --theme-milkdown-background: rgba(0, 0, 0, 0.1);
  --theme-milkdown-default: #e1e1e1;
  --scr-track: #222;
  --scr-thumb: #414770;
  --scr-thumb-hover: #545a7e;
  --wb-selection: rgba(0, 0, 0, 0.2);
  --wb-text-selection: #e5e7eb;
}
