/* BW Light Theme */
.betterwrite-light {
  --theme-transparent: transparent;
  --theme-black: #000000;
  --theme-white: #ffffff;
  --theme-background-1: #e6e7e8;
  --theme-background-2: #dadbdf;
  --theme-background-3: #cdd0d4;
  --theme-background-4: #e9eaee;
  --theme-background-opacity-1: rgba(0, 0, 0, 0.1);
  --theme-background-absolute-1: #ffffff;
  --theme-border-1: #d1d5db;
  --theme-border-aside-1: #000000;
  --theme-border-absolute-1: #000000;
  --theme-border-absolute-2: #111827;
  --theme-border-commands-1: #000000;
  --theme-aside-background: #f3f4f6;
  --theme-aside-background-hover: #f3f4f6;
  --theme-aside-background-active: #f3f4f6;
  --theme-aside-logo-background: none;
  --theme-aside-logo-text: #1f2937;
  --theme-aside-graph-lines: #000000;
  --theme-aside-graph-text: #111111;
  --theme-aside-graph-text-hover: none;
  --theme-aside-graph-text-active: #ffffff;
  --theme-aside-graph-background: none;
  --theme-aside-graph-background-hover: #d1d5db;
  --theme-aside-graph-background-active: #a1a5ab;
  --theme-editor-scrollbar-track: transparent;
  --theme-editor-scrollbar-thumb:  #a1a5ab;
  --theme-editor-betterwrite: #111111;
  --theme-editor-io: #111111;
  --theme-editor-full-background: #e5e7eb;
  --theme-editor-full-background-hover: #e5e7eb;
  --theme-editor-full-background-active: #e5e7eb;
  --theme-editor-background: #f3f4f6;
  --theme-editor-background-hover: #f3f4f6;
  --theme-editor-background-active: #f3f4f6;
  --theme-editor-background-bar: #dbdee1;
  --theme-editor-background-bar-hover: #dbdee1;
  --theme-editor-background-bar-active: #dbdee1;
  --theme-editor-entity-background: none;
  --theme-editor-entity-background-hover: none;
  --theme-editor-entity-background-active: none;
  --theme-editor-entity-text: #111111;
  --theme-editor-entity-text-hover: #111111;
  --theme-editor-entity-text-active: #111111;
  --theme-editor-entity-heading-one: #111111;
  --theme-editor-entity-heading-one-hover: #111111;
  --theme-editor-entity-heading-one-active: #111111;
  --theme-editor-entity-heading-two: #111111;
  --theme-editor-entity-heading-two-hover: #111111;
  --theme-editor-entity-heading-two-active: #111111;
  --theme-editor-entity-heading-three: #111111;
  --theme-editor-entity-heading-three-hover: #111111;
  --theme-editor-entity-heading-three-active: #111111;
  --theme-editor-entity-page: #d1d5db;
  --theme-editor-entity-line: #d1d5db;
  --theme-editor-entity-popover-text: #111111;
  --theme-editor-entity-popover-text-hover: #e5e7eb;
  --theme-editor-entity-popover-text-active: #e5e7eb;
  --theme-editor-entity-popover-background: #e5e7eb;
  --theme-editor-entity-popover-background-hover: #6b7280;
  --theme-editor-entity-popover-background-active: #6b7280;
  --theme-editor-entity-info: rgba(139, 191, 250, 0.1);
  --theme-editor-entity-info-hover: rgba(139, 191, 250, 0.1);
  --theme-editor-entity-info-active: rgba(139, 191, 250, 0.1);
  --theme-editor-entity-warning: rgba(255, 231, 137, 0.3);
  --theme-editor-entity-warning-hover: rgba(255, 231, 137, 0.3);
  --theme-editor-entity-warning-active: rgba(255, 231, 137, 0.3);
  --theme-editor-entity-error: rgba(245, 86, 94, 0.3);
  --theme-editor-entity-error-hover: rgba(245, 86, 94, 0.3);
  --theme-editor-entity-error-active: rgba(245, 86, 94, 0.3);
  --theme-editor-bold-text: #1f2937;
  --theme-editor-bold-text-hover: #1f2937;
  --theme-editor-bold-text-active: #1f2937;
  --theme-editor-italic-text: #1f2937;
  --theme-editor-italic-text-hover: #1f2937;
  --theme-editor-italic-text-active: #1f2937;
  --theme-editor-input-background: none;
  --theme-editor-input-background-hover: none;
  --theme-editor-input-background-active: none;
  --theme-editor-input-text: #111111;
  --theme-editor-input-text-hover: #111111;
  --theme-editor-input-text-active: #111111;
  --theme-editor-input-placeholder: #111111;
  --theme-editor-header-background: #f3f4f6;
  --theme-editor-header-background-hover: #f3f4f6;
  --theme-editor-header-background-active: #f3f4f6;
  --theme-editor-header-list-background: #d1d5db;
  --theme-editor-header-list-background-hover: #e5e7eb;
  --theme-editor-header-list-background-active: #e5e7eb;
  --theme-editor-header-list-text: #000000;
  --theme-editor-header-list-text-hover: #000000;
  --theme-editor-header-list-text-active: #000000;
  --theme-editor-header-list-shortcuts-background: none;
  --theme-editor-header-list-shortcuts-background-hover: #d1d5db;
  --theme-editor-header-list-shortcuts-background-active: #d1d5db;
  --theme-editor-pdf-preview-background: #d1d5db;
  --theme-editor-pdf-configuration-border: #f3f4f6;
  --theme-editor-pdf-configuration-background: #f3f4f6;
  --theme-editor-pdf-configuration-background-hover: #f3f4f6;
  --theme-editor-pdf-configuration-background-active: #f3f4f6;
  --theme-editor-pdf-configuration-container-text: #111111;
  --theme-editor-pdf-configuration-container-text-hover: #111111;
  --theme-editor-pdf-configuration-container-text-active: #111111;
  --theme-editor-pdf-configuration-container-background: #f3f4f6;
  --theme-editor-pdf-configuration-container-background-hover: #f3f4f6;
  --theme-editor-pdf-configuration-container-background-active: #f3f4f6;
  --theme-editor-pdf-generator-paragraph: #111111;
  --theme-editor-pdf-generator-heading-one: #111111;
  --theme-editor-pdf-generator-heading-two: #111111;
  --theme-editor-pdf-generator-heading-three: #111111;
  --theme-editor-pdf-generator-page: #f3f4f6;
  --theme-editor-material-border: #1f2937;
  --theme-editor-material-background: #e5e7eb;
  --theme-editor-material-background-hover: #e5e7eb;
  --theme-editor-material-background-active: #e5e7eb;
  --theme-editor-material-text: #1f2937;
  --theme-editor-material-text-hover: #1f2937;
  --theme-editor-material-text-active: #1f2937;
  --theme-editor-material-boolean-background: #f3f4f6;
  --theme-editor-material-boolean-rounded-background: #000000;
  --theme-editor-extras-switcher-background: #e5e7eb;
  --theme-editor-extras-switcher-background-hover: #e5e7eb;
  --theme-editor-extras-switcher-background-active: #e5e7eb;
  --theme-editor-extras-switcher-text: #111111;
  --theme-editor-extras-switcher-text-hover: #111111;
  --theme-editor-extras-switcher-text-active: #111111;
  --theme-editor-extras-switcher-border: #1f2937;
  --theme-editor-extras-finder-background: #e5e7eb;
  --theme-editor-extras-finder-background-hover: #e5e7eb;
  --theme-editor-extras-finder-background-active: #e5e7eb;
  --theme-editor-extras-finder-text: #111111;
  --theme-editor-extras-finder-text-hover: #111111;
  --theme-editor-extras-finder-text-active: #111111;
  --theme-editor-extras-finder-border: #1f2937;
  --theme-editor-external-comment-background: #f3f4f6;
  --theme-editor-external-comment-background-hover: #f3f4f6;
  --theme-editor-external-comment-background-active: #f3f4f6;
  --theme-editor-external-comment-text: #111111;
  --theme-editor-external-comment-text-hover: #111111;
  --theme-editor-external-comment-text-active: #111111;
  --theme-editor-external-comment-title: #111111;
  --theme-editor-external-comment-title-hover: #111111;
  --theme-editor-external-comment-title-active: #111111;
  --theme-editor-external-comment-border: none;
  --theme-editor-external-comment-textarea-background: #e5e7eb;
  --theme-editor-external-comment-textarea-background-hover: #e5e7eb;
  --theme-editor-external-comment-textarea-background-active: #e5e7eb;
  --theme-editor-tooltip-background: #d1d5db;
  --theme-editor-tooltip-text: #111111;
  --theme-editor-tooltip-border: none;
  --theme-editor-electron-update-text: #d1d5db;
  --theme-editor-electron-update-text-hover: #d1d5db;
  --theme-editor-electron-update-text-active: #d1d5db;
  --theme-editor-nprogress-background: #111111;
  --theme-editor-nprogress-height: 3px;
  --theme-editor-creative-drafts-background: #f3f4f6;
  --theme-editor-creative-drafts-container-background: #e5e7eb;
  --theme-editor-creative-drafts-container-borders: #e5e7eb;
  --theme-editor-creative-drafts-container-list-background: #e5e7eb;
  --theme-editor-creative-drafts-container-list-background-hover: #e5e7eb;
  --theme-editor-creative-drafts-container-list-background-active: #e5e7eb;
  --theme-editor-creative-drafts-container-list-text: #111111;
  --theme-editor-creative-drafts-container-list-text-hover: #e5e7eb;
  --theme-editor-creative-drafts-container-list-text-active: #e5e7eb;
  --theme-editor-creative-drafts-container-item-background: #e5e7eb;
  --theme-editor-creative-drafts-container-item-background-hover: #e5e7eb;
  --theme-editor-creative-drafts-container-item-background-active: #e5e7eb;
  --theme-editor-creative-drafts-container-item-text: #111111;
  --theme-editor-dashboard-background-main: #f3f4f6;
  --theme-editor-dashboard-background-item: #e5e7eb;
  --theme-editor-dashboard-background-card: #d1d5db;
  --theme-editor-dashboard-text: #111111;
  --theme-editor-render-finder-text: #f3f4f6;
  --theme-editor-render-finder-background: #111111;
  --theme-editor-render-switcher-text: #f3f4f6;
  --theme-editor-render-switcher-background: #111111;
  --theme-text-1: #000000;
  --theme-text-2: #111111;
  --theme-text-3: #1f2937;
  --theme-icon: #111111;
  --theme-icon-hover: #777;
  --theme-icon-active: #777;
  --theme-text-commands-1: #111111;
  --theme-text-active: #111827;
  --theme-grammar-error: #ff6261;
  --theme-spelling-error: #ffee91;
  --theme-target-text: #54b1ff;
  --theme-logger-background: #f3f4f6;
  --theme-logger-log-text: black;
  --theme-logger-log-background: rgba(167, 255, 229, 1);
  --theme-logger-warn-text: black;
  --theme-logger-warn-background: #ffc684;
  --theme-logger-error-text: black;
  --theme-logger-error-background: #ff8987;
  --theme-logger-info-text: black;
  --theme-logger-info-background: #6793ff;
  --theme-logger-entity-background: #111111;
  --theme-logger-entity-text: #e5e7eb;
  --theme-pwa-prompt-text: #111111;
  --theme-pwa-prompt-background: #e5e7eb;
  --theme-pwa-prompt-button-text: #111111;
  --theme-pwa-prompt-button-background: #f3f4f6;
  --theme-milkdown-primary: #111111;
  --theme-milkdown-secondary: #f3f4f6;
  --theme-milkdown-neutral: #111111;
  --theme-milkdown-solid: #f3f4f6;
  --theme-milkdown-shadow: #111111;
  --theme-milkdown-line: #111111;
  --theme-milkdown-surface: #e5e7eb;
  --theme-milkdown-background: #111111;
  --theme-milkdown-default: #e1e1e1;
  --scr-track: #f1f1f1;
  --scr-thumb: #f0f0f0;
  --scr-thumb-hover: #e2e2e2;
  --wb-selection: rgba(0, 0, 0, 0.1);
  --wb-text-selection: #000;
}
