@font-face {
  font-family: Poppins;
  src: url(/Poppins-Thin.ttf);
  font-weight: 200;
}
@font-face {
  font-family: Poppins;
  src: url(/Poppins-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Poppins;
  src: url(/Poppins-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: Poppins;
  src: url(/Poppins-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Raleway;
  src: url(/Raleway-Thin.ttf);
  font-weight: 200;
}
@font-face {
  font-family: Raleway;
  src: url(/Raleway-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Raleway;
  src: url(/Raleway-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: Raleway;
  src: url(/Raleway-Bold.ttf);
  font-weight: bold;
}