.milkdown-betterwrite {
  height: 90vh;
  padding: 2rem 1rem;
  word-break: break-all;
  color: var(--theme-milkdown-primary);
  font-family: 'Raleway', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.milkdown-betterwrite > * {
  margin-bottom: auto;
}

.milkdown-betterwrite h1 {
  font-size: 2rem;
  font-weight: 700;
  padding: 1.25rem 0;
}

.milkdown-betterwrite h2 {
  font-size: 1.65rem;
  font-weight: 700;
  padding: 0.85rem 0;
}

.milkdown-betterwrite h3 {
  font-size: 1.35rem;
  font-weight: 700;
  padding: 0.65rem 0;
}

.milkdown-betterwrite a {
  color: var('--theme-background-4');
  text-decoration-line: underline;
  cursor: pointer;
  font-weight: 600;
}

.milkdown-betterwrite p, li {
  font-size: 1.15rem;
  font-weight: 500;
}

.milkdown-betterwrite ul > li {
  margin-left: 1rem;
  list-style-type: "- ";
}

.milkdown-betterwrite ol > li {
  margin-left: 1rem;
}

.milkdown-betterwrite pre {
  padding: 0.5rem;
  background-color: var(--theme-milkdown-secondary);
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  font-size: 1rem !important;
}

.milkdown-betterwrite pre code {
  text-align: inherit;
}

.milkdown-betterwrite img {
  max-width: 100%;
}

.milkdown-betterwrite blockquote {
  border-left: 0.4rem;
  border-color: var(--theme-milkdown-secondary);
  border-style: solid;
  padding-left: 1rem;
}

.milkdown-betterwrite.prose :where(blockquote p:first-of-type):not(:where([class~="not-prose"] *))::before,
.milkdown-betterwrite.prose :where(blockquote p:first-of-type):not(:where([class~="not-prose"] *))::after {
  content: '';
}

.milkdown-betterwrite.prose :where(code):not(:where([class~="not-prose"] *))::before,
.milkdown-betterwrite.prose :where(code):not(:where([class~="not-prose"] *))::after {
  content: '';
}

.milkdown-betterwrite.prose br[data-is-inline="true"],
.milkdown-betterwrite.prose br[data-is-inline="true"]::after {
  content: ' '
}