.Vue-Toastification__toast {
  font-family: 'Raleway' !important;
}
.Vue-Toastification__container {
  z-index: 999999999999999 !important;
}
.Vue-Toastification__toast--default {
  background: rgb(9,73,121) !important;
  background: linear-gradient(90deg, rgba(9,73,121,0.7) 0%, rgba(13,98,106,0.7) 100%) !important;
  color: white !important;
}
.Vue-Toastification__toast--info {
  background: rgb(9,73,121) !important;
  background: linear-gradient(90deg, rgba(9,73,121,0.7) 0%, rgba(13,98,106,0.7) 100%) !important;
  color: white !important;
}
.Vue-Toastification__toast--success {
  color: white !important;
  background: rgb(14,133,19) !important;
  background: linear-gradient(90deg, rgba(14,133,19,0.7) 0%, rgba(5,56,8,0.7) 100%) !important;
}
.Vue-Toastification__toast--error {
  color: white !important;
  background: rgb(121,9,9) !important;
  background: linear-gradient(90deg, rgba(121,9,9,0.7) 0%, rgba(106,13,13,0.7) 100%) !important;
}
.Vue-Toastification__toast--warning {
  color: white !important;
  background: rgb(121,74,9) !important;
  background: linear-gradient(90deg, rgba(121,74,9,0.7) 0%, rgba(106,106,13,0.7) 100%) !important;
}
.Vue-Toastification__close-button {
  font-family: 'Poppins' !important;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  padding-left: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  align-items: center;
  color: white;
  opacity: 0.3;
  transition: visibility 0s, opacity 0.2s linear;
}
.Vue-Toastification__progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  z-index: 10000;
  background-color: rgba(255,255,255,0.1);
  transform-origin: left;
  animation: scale-x-frames linear 1 forwards;
}
