@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Raleway';
}

#app {
  min-height: 100vh;
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

@-webkit-keyframes autofill {
  0%,
  100% {
    color: #666;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-delay: 1s;
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

input[type='color'] {
  -webkit-appearance: none;
  border: none;
  width: 2rem;
  height: 1rem;
  cursor: pointer;
}
input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type='color']::-webkit-color-swatch {
  border: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  text-align: center;
}

:root {
  --scr-track: #f1f1f1;
  --scr-thumb: #888;
  --scr-thumb-hover: #555;
}

.dark {
  --scr-track: #222;
  --scr-thumb: #888;
  --scr-thumb-hover: #555;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: var(--src-track);
}

*::-webkit-scrollbar-thumb {
  background: var(--scr-thumb);
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--scr-thumb-hover);
}

.list-enter-active,
.list-leave-active {
  transition: all 200ms;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
}
.list-move {
  transition: transform 300ms;
}

.fade-enter-active {
  transition: opacity 0.5s;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.logger-log {
  background-color: #a7ffe5;
}
.logger-warn {
  background-color: #ffc684;
}
.logger-error {
  background-color: #ff8987;
}
.logger-info {
  background-color: #6793ff;
}
