/* Harmonic Theme */
.betterwrite-harmonic {
  --theme-transparent: transparent;
  --theme-black: #000000;
  --theme-white: #ffffff;
  --theme-background-1: #b6ceeb;
  --theme-background-2: rgba(222, 237, 255, 0.5);
  --theme-background-3: #deedff;
  --theme-background-4: #b6ceeb;
  --theme-background-opacity-1: rgba(0, 0, 0, 0.15);
  --theme-background-absolute-1: #6a819e;
  --theme-border-1: #6a819e;
  --theme-border-aside-1: #6b7280;
  --theme-border-absolute-1: #ffffff;
  --theme-border-absolute-2: #111827;
  --theme-border-commands-1: #000000;
  --theme-aside-background: #b6ceeb;
  --theme-aside-background-hover: #b6ceeb;
  --theme-aside-background-active: #b6ceeb;
  --theme-aside-logo-background: none;
  --theme-aside-logo-text: #6a819e;
  --theme-aside-graph-lines: #6a819e;
  --theme-aside-graph-text: #111111;
  --theme-aside-graph-text-hover: #111111;
  --theme-aside-graph-text-active: #111111;
  --theme-aside-graph-background: none;
  --theme-aside-graph-background-hover: rgba(106, 129, 158, 0.5);
  --theme-aside-graph-background-active: rgba(106, 129, 158, 0.2);
  --theme-editor-scrollbar-track: transparent;
  --theme-editor-scrollbar-thumb:  #869bb5;
  --theme-editor-betterwrite: #111111;
  --theme-editor-io: #6a819e;
  --theme-editor-full-background: rgba(222, 237, 255, 0.3);
  --theme-editor-full-background-hover: rgba(222, 237, 255, 0.3);
  --theme-editor-full-background-active: rgba(222, 237, 255, 0.3);
  --theme-editor-background: #b6ceeb;
  --theme-editor-background-hover: #b6ceeb;
  --theme-editor-background-active: #b6ceeb;
  --theme-editor-background-bar: #a6bcd5;
  --theme-editor-background-bar-hover: #a6bcd5;
  --theme-editor-background-bar-active: #a6bcd5;
  --theme-editor-entity-background: none;
  --theme-editor-entity-background-hover: none;
  --theme-editor-entity-background-active: none;
  --theme-editor-entity-text: #111111;
  --theme-editor-entity-text-hover: #111111;
  --theme-editor-entity-text-active: #111111;
  --theme-editor-entity-heading-one: #111111;
  --theme-editor-entity-heading-one-hover: #111111;
  --theme-editor-entity-heading-one-active: #111111;
  --theme-editor-entity-heading-two: #111111;
  --theme-editor-entity-heading-two-hover: #111111;
  --theme-editor-entity-heading-two-active: #111111;
  --theme-editor-entity-heading-three: #111111;
  --theme-editor-entity-heading-three-hover: #111111;
  --theme-editor-entity-heading-three-active: #111111;
  --theme-editor-entity-page: #6a819e;
  --theme-editor-entity-line: #6a819e;
  --theme-editor-entity-popover-text: #111111;
  --theme-editor-entity-popover-text-hover: #111111;
  --theme-editor-entity-popover-text-active: #111111;
  --theme-editor-entity-popover-background: #6a819e;
  --theme-editor-entity-popover-background-hover: rgba(222, 237, 255, 0.5);
  --theme-editor-entity-popover-background-active: #b6ceeb;
  --theme-editor-entity-info: rgba(139, 191, 250, 0.1);
  --theme-editor-entity-info-hover: rgba(139, 191, 250, 0.1);
  --theme-editor-entity-info-active: rgba(139, 191, 250, 0.1);
  --theme-editor-entity-warning: rgba(255, 231, 137, 0.3);
  --theme-editor-entity-warning-hover: rgba(255, 231, 137, 0.3);
  --theme-editor-entity-warning-active: rgba(255, 231, 137, 0.3);
  --theme-editor-entity-error: rgba(245, 86, 94, 0.3);
  --theme-editor-entity-error-hover: rgba(245, 86, 94, 0.3);
  --theme-editor-entity-error-active: rgba(245, 86, 94, 0.3);
  --theme-editor-bold-text: #6a819e;
  --theme-editor-bold-text-hover: #111111;
  --theme-editor-bold-text-active: #111111;
  --theme-editor-italic-text: #6a819e;
  --theme-editor-italic-text-hover: #111111;
  --theme-editor-italic-text-active: #111111;
  --theme-editor-input-background: none;
  --theme-editor-input-background-hover: none;
  --theme-editor-input-background-active: none;
  --theme-editor-input-text: #111111;
  --theme-editor-input-text-hover: #111111;
  --theme-editor-input-text-active: #111111;
  --theme-editor-input-placeholder: #111111;
  --theme-editor-header-background: none;
  --theme-editor-header-background-hover: none;
  --theme-editor-header-background-active: none;
  --theme-editor-header-list-background: #b6ceeb;
  --theme-editor-header-list-background-hover: #deedff;
  --theme-editor-header-list-background-active: #deedff;
  --theme-editor-header-list-text: #111111;
  --theme-editor-header-list-text-hover: #111111;
  --theme-editor-header-list-text-active: #111111;
  --theme-editor-header-list-shortcuts-background: none;
  --theme-editor-header-list-shortcuts-background-hover: none;
  --theme-editor-header-list-shortcuts-background-active: #111111;
  --theme-editor-pdf-preview-background: #deedff;
  --theme-editor-pdf-configuration-border: #111111;
  --theme-editor-pdf-configuration-background: #deedff;
  --theme-editor-pdf-configuration-background-hover: #deedff;
  --theme-editor-pdf-configuration-background-active: #deedff;
  --theme-editor-pdf-configuration-container-text: #111111;
  --theme-editor-pdf-configuration-container-text-hover: #111111;
  --theme-editor-pdf-configuration-container-text-active: #111111;
  --theme-editor-pdf-configuration-container-background: #deedff;
  --theme-editor-pdf-configuration-container-background-hover: #deedff;
  --theme-editor-pdf-configuration-container-background-active: #deedff;
  --theme-editor-pdf-generator-paragraph: #111111;
  --theme-editor-pdf-generator-heading-one: #111111;
  --theme-editor-pdf-generator-heading-two: #111111;
  --theme-editor-pdf-generator-heading-three: #111111;
  --theme-editor-pdf-generator-page: #deedff;
  --theme-editor-material-border: #111111;
  --theme-editor-material-background: rgba(255, 255, 255, 0.15);
  --theme-editor-material-background-hover: rgba(255, 255, 255, 0.15);
  --theme-editor-material-background-active: rgba(255, 255, 255, 0.15);
  --theme-editor-material-text: #111111;
  --theme-editor-material-text-hover: #111111;
  --theme-editor-material-text-active: #111111;
  --theme-editor-material-boolean-background: #deedff;
  --theme-editor-material-boolean-rounded-background: #6a819e;
  --theme-editor-extras-switcher-background: #deedff;
  --theme-editor-extras-switcher-background-hover: #deedff;
  --theme-editor-extras-switcher-background-active: #deedff;
  --theme-editor-extras-switcher-text: #111111;
  --theme-editor-extras-switcher-text-hover: #111111;
  --theme-editor-extras-switcher-text-active: #111111;
  --theme-editor-extras-switcher-border: #6a819e;
  --theme-editor-extras-finder-background: #deedff;
  --theme-editor-extras-finder-background-hover: #deedff;
  --theme-editor-extras-finder-background-active: #deedff;
  --theme-editor-extras-finder-text: #111111;
  --theme-editor-extras-finder-text-hover: #111111;
  --theme-editor-extras-finder-text-active: #111111;
  --theme-editor-extras-finder-border: #6a819e;
  --theme-editor-external-comment-background: #deedff;
  --theme-editor-external-comment-background-hover: #deedff;
  --theme-editor-external-comment-background-active: #deedff;
  --theme-editor-external-comment-text: #ffffff;
  --theme-editor-external-comment-text-hover: #ffffff;
  --theme-editor-external-comment-text-active: #ffffff;
  --theme-editor-external-comment-title: #111111;
  --theme-editor-external-comment-title-hover: #111111;
  --theme-editor-external-comment-title-active: #111111;
  --theme-editor-external-comment-border: none;
  --theme-editor-external-comment-textarea-background: #6a819e;
  --theme-editor-external-comment-textarea-background-hover: #6a819e;
  --theme-editor-external-comment-textarea-background-active: #6a819e;
  --theme-editor-tooltip-background: #6a819e;
  --theme-editor-tooltip-text: #e5e7eb;
  --theme-editor-tooltip-border: none;
  --theme-editor-electron-update-text: #6a819e;
  --theme-editor-electron-update-text-hover: #6a819e;
  --theme-editor-electron-update-text-active: #6a819e;
  --theme-editor-nprogress-background: #6a819e;
  --theme-editor-nprogress-height: 3px;
  --theme-editor-creative-drafts-background: #deedff;
  --theme-editor-creative-drafts-container-background: #deedff;
  --theme-editor-creative-drafts-container-borders: #6a819e;
  --theme-editor-creative-drafts-container-list-background: #deedff;
  --theme-editor-creative-drafts-container-list-background-hover: #deedff;
  --theme-editor-creative-drafts-container-list-background-active: #deedff;
  --theme-editor-creative-drafts-container-list-text: #111111;
  --theme-editor-creative-drafts-container-list-text-hover: #111111;
  --theme-editor-creative-drafts-container-list-text-active: #111111;
  --theme-editor-creative-drafts-container-item-background: #deedff;
  --theme-editor-creative-drafts-container-item-background-hover: #deedff;
  --theme-editor-creative-drafts-container-item-background-active: #deedff;
  --theme-editor-creative-drafts-container-item-text: #111111;
  --theme-editor-dashboard-background-main: #b6ceeb;
  --theme-editor-dashboard-background-item: rgba(222, 237, 255, 0.3);
  --theme-editor-dashboard-background-card: #deedff;
  --theme-editor-dashboard-text: #111111;
  --theme-editor-render-finder-text: #deedff;
  --theme-editor-render-finder-background: #111111;
  --theme-editor-render-switcher-text: #deedff;
  --theme-editor-render-switcher-background: #111111;
  --theme-text-1: #111111;
  --theme-text-2: #111111;
  --theme-text-3: #111111;
  --theme-icon: #111111;
  --theme-icon-hover: #ffffff;
  --theme-icon-active: #ffffff;
  --theme-text-commands-1: #e5e7eb;
  --theme-text-active: #ffffff;
  --theme-grammar-error: #ff6261;
  --theme-spelling-error: #ffee91;
  --theme-target-text: #54b1ff;
  --theme-logger-background: #6a819e;
  --theme-logger-log-text: rgb(167, 255, 229);
  --theme-logger-log-background: rgba(167, 255, 229, 0.1);
  --theme-logger-warn-text: rgb(255, 198, 132);
  --theme-logger-warn-background: rgb(255, 198, 132, 0.1);
  --theme-logger-error-text: rgb(255, 137, 135);
  --theme-logger-error-background: rgb(255, 137, 135, 0.1);
  --theme-logger-info-text: rgb(103, 147, 255);
  --theme-logger-info-background: rgb(103, 147, 255, 0.1);
  --theme-logger-entity-background: #1f2937;
  --theme-logger-entity-text: #e5e7eb;
  --theme-pwa-prompt-text: #111111;
  --theme-pwa-prompt-background: rgba(222, 237, 255, 0.5);
  --theme-pwa-prompt-button-text: #111111;
  --theme-pwa-prompt-button-background: #b6ceeb;
  --theme-milkdown-primary: #111111;
  --theme-milkdown-secondary: rgba(0, 0, 0, 0.5);
  --theme-milkdown-neutral: #111111;
  --theme-milkdown-solid: rgba(0, 0, 0, 0.3);
  --theme-milkdown-shadow: rgba(0, 0, 0, 0.3);
  --theme-milkdown-line: rgba(0, 0, 0, 0.3);
  --theme-milkdown-surface: rgba(0, 0, 0, 0.1);
  --theme-milkdown-background: rgba(0, 0, 0, 0.1);
  --theme-milkdown-default: #111111;
  --scr-track: #222;
  --scr-thumb: #ccdbee;
  --scr-thumb-hover: #d9e3ee;
  --wb-selection: rgba(255, 255, 255, 0.2);
  --wb-text-selection: #333333;
}
