/* Ascend Theme */
.betterwrite-ascend {
  --theme-transparent: transparent;
  --theme-black: #000000;
  --theme-white: #ffffff;
  --theme-background-1: #242222;
  --theme-background-2: #242222;
  --theme-background-3: #514646;
  --theme-background-4: #725656;
  --theme-background-opacity-1: rgba(0, 0, 0, 0.2);
  --theme-background-absolute-1: #fa8373;
  --theme-border-1: #fa8373;
  --theme-border-aside-1: #fa8373;
  --theme-border-absolute-1: #ffffff;
  --theme-border-absolute-2: #242222;
  --theme-border-commands-1: #000000;
  --theme-aside-background: #242222;
  --theme-aside-background-hover: #242222;
  --theme-aside-background-active: #242222;
  --theme-aside-logo-background: none;
  --theme-aside-logo-text: #fa8373;
  --theme-aside-graph-lines: #514646;
  --theme-aside-graph-text: #fa8373;
  --theme-aside-graph-text-hover: #fa8373;
  --theme-aside-graph-text-active: #333;
  --theme-aside-graph-background: #242222;
  --theme-aside-graph-background-hover: #725656;
  --theme-aside-graph-background-active: #514646;
  --theme-editor-scrollbar-track: transparent;
  --theme-editor-scrollbar-thumb:  #333131;
  --theme-editor-betterwrite: #faa59e;
  --theme-editor-io: #fa8373;
  --theme-editor-full-background: #191919;
  --theme-editor-full-background-hover: #191919;
  --theme-editor-full-background-active: #191919;
  --theme-editor-background: #242222;
  --theme-editor-background-hover: #242222;
  --theme-editor-background-active: #242222;
  --theme-editor-background-bar: #282626;
  --theme-editor-background-bar-hover: #282626;
  --theme-editor-background-bar-active: #282626;
  --theme-editor-entity-background: none;
  --theme-editor-entity-background-hover: none;
  --theme-editor-entity-background-active: none;
  --theme-editor-entity-text: #faa59e;
  --theme-editor-entity-text-hover: #faa59e;
  --theme-editor-entity-text-active: #faa59e;
  --theme-editor-entity-heading-one: #fa8373;
  --theme-editor-entity-heading-one-hover: #fa8373;
  --theme-editor-entity-heading-one-active: #fa8373;
  --theme-editor-entity-heading-two: #fa8373;
  --theme-editor-entity-heading-two-hover: #fa8373;
  --theme-editor-entity-heading-two-active: #fa8373;
  --theme-editor-entity-heading-three: #fa8373;
  --theme-editor-entity-heading-three-hover: #fa8373;
  --theme-editor-entity-heading-three-active: #fa8373;
  --theme-editor-entity-page: #b35d52;
  --theme-editor-entity-line: #b35d52;
  --theme-editor-entity-popover-text: #fa8373;
  --theme-editor-entity-popover-text-hover: #fa8373;
  --theme-editor-entity-popover-text-active: #fa8373;
  --theme-editor-entity-popover-background: #514646;
  --theme-editor-entity-popover-background-hover: #725656;
  --theme-editor-entity-popover-background-active: #242222;
  --theme-editor-entity-info: rgba(139, 191, 250, 0.1);
  --theme-editor-entity-info-hover: rgba(139, 191, 250, 0.1);
  --theme-editor-entity-info-active: rgba(139, 191, 250, 0.1);
  --theme-editor-entity-warning: rgba(255, 231, 137, 0.3);
  --theme-editor-entity-warning-hover: rgba(255, 231, 137, 0.3);
  --theme-editor-entity-warning-active: rgba(255, 231, 137, 0.3);
  --theme-editor-entity-error: rgba(245, 86, 94, 0.3);
  --theme-editor-entity-error-hover: rgba(245, 86, 94, 0.3);
  --theme-editor-entity-error-active: rgba(245, 86, 94, 0.3);
  --theme-editor-bold-text: #faa59e;
  --theme-editor-bold-text-hover: #faa59e;
  --theme-editor-bold-text-active: #faa59e;
  --theme-editor-italic-text: #faa59e;
  --theme-editor-italic-text-hover: #faa59e;
  --theme-editor-italic-text-active: #faa59e;
  --theme-editor-input-background: none;
  --theme-editor-input-background-hover: none;
  --theme-editor-input-background-active: none;
  --theme-editor-input-text: #faa59e;
  --theme-editor-input-text-hover: #faa59e;
  --theme-editor-input-text-active: #faa59e;
  --theme-editor-input-placeholder: #faa59e;
  --theme-editor-header-background: none;
  --theme-editor-header-background-hover: none;
  --theme-editor-header-background-active: none;
  --theme-editor-header-list-background: #242222;
  --theme-editor-header-list-background-hover: #323030;
  --theme-editor-header-list-background-active: #323030;
  --theme-editor-header-list-text: #fa8373;
  --theme-editor-header-list-text-hover: #fa8373;
  --theme-editor-header-list-text-active: #fa8373;
  --theme-editor-header-list-shortcuts-background: none;
  --theme-editor-header-list-shortcuts-background-hover: none;
  --theme-editor-header-list-shortcuts-background-active: none;
  --theme-editor-pdf-preview-background: #514646;
  --theme-editor-pdf-configuration-border: #fa8373;
  --theme-editor-pdf-configuration-background: #242222;
  --theme-editor-pdf-configuration-background-hover: #242222;
  --theme-editor-pdf-configuration-background-active: #242222;
  --theme-editor-pdf-configuration-container-text: #fa8373;
  --theme-editor-pdf-configuration-container-text-hover: #fa8373;
  --theme-editor-pdf-configuration-container-text-active: #fa8373;
  --theme-editor-pdf-configuration-container-background: #242222;
  --theme-editor-pdf-configuration-container-background-hover: #242222;
  --theme-editor-pdf-configuration-container-background-active: #242222;
  --theme-editor-pdf-generator-paragraph: #faa59e;
  --theme-editor-pdf-generator-heading-one: #fa8373;
  --theme-editor-pdf-generator-heading-two: #fa8373;
  --theme-editor-pdf-generator-heading-three: #fa8373;
  --theme-editor-pdf-generator-page: #242222;
  --theme-editor-material-border: transparent;
  --theme-editor-material-background: #514646;
  --theme-editor-material-background-hover: #514646;
  --theme-editor-material-background-active: #514646;
  --theme-editor-material-text: #fa8373;
  --theme-editor-material-text-hover: #fa8373;
  --theme-editor-material-text-active: #fa8373;
  --theme-editor-material-boolean-background: #725656;
  --theme-editor-material-boolean-rounded-background: #fa8373;
  --theme-editor-extras-switcher-background: #514646;
  --theme-editor-extras-switcher-background-hover: #514646;
  --theme-editor-extras-switcher-background-active: #514646;
  --theme-editor-extras-switcher-text: #fa8373;
  --theme-editor-extras-switcher-text-hover: #fa8373;
  --theme-editor-extras-switcher-text-active: #fa8373;
  --theme-editor-extras-switcher-border: #242222;
  --theme-editor-extras-finder-background: #514646;
  --theme-editor-extras-finder-background-hover: #514646;
  --theme-editor-extras-finder-background-active: #514646;
  --theme-editor-extras-finder-text: #fa8373;
  --theme-editor-extras-finder-text-hover: #fa8373;
  --theme-editor-extras-finder-text-active: #fa8373;
  --theme-editor-external-comment-background: #514646;
  --theme-editor-external-comment-background-hover: #514646;
  --theme-editor-external-comment-background-active: #514646;
  --theme-editor-external-comment-text: #faa59e;
  --theme-editor-external-comment-text-hover: #faa59e;
  --theme-editor-external-comment-text-active: #faa59e;
  --theme-editor-external-comment-title: #fa8373;
  --theme-editor-external-comment-title-hover: #fa8373;
  --theme-editor-external-comment-title-active: #fa8373;
  --theme-editor-external-comment-border: none;
  --theme-editor-external-comment-textarea-background: #323030;
  --theme-editor-external-comment-textarea-background-hover: #323030;
  --theme-editor-external-comment-textarea-background-active: #323030;
  --theme-editor-tooltip-background: #514646;
  --theme-editor-tooltip-text: #fa8373;
  --theme-editor-tooltip-border: none;
  --theme-editor-electron-update-text: #faa59e;
  --theme-editor-electron-update-text-hover: #faa59e;
  --theme-editor-electron-update-text-active: #faa59e;
  --theme-editor-nprogress-background: #faa59e;
  --theme-editor-nprogress-height: 2px;
  --theme-editor-creative-drafts-background: #242222;
  --theme-editor-creative-drafts-container-background: #242222;
  --theme-editor-creative-drafts-container-borders: #fa8373;
  --theme-editor-creative-drafts-container-list-background: #242222;
  --theme-editor-creative-drafts-container-list-background-hover: #242222;
  --theme-editor-creative-drafts-container-list-background-active: #242222;
  --theme-editor-creative-drafts-container-list-text: #fa8373;
  --theme-editor-creative-drafts-container-list-text-hover: #fa8373;
  --theme-editor-creative-drafts-container-list-text-active: #fa8373;
  --theme-editor-creative-drafts-container-item-background: #242222;
  --theme-editor-creative-drafts-container-item-background-hover: #242222;
  --theme-editor-creative-drafts-container-item-background-active: #242222;
  --theme-editor-creative-drafts-container-item-text: #fa8373;
  --theme-editor-dashboard-background-main: #242222;
  --theme-editor-dashboard-background-item: #282626;
  --theme-editor-dashboard-background-card: #725656;
  --theme-editor-dashboard-text: #fa8373;
  --theme-editor-render-finder-text: #242222;
  --theme-editor-render-finder-background: #fa8373;
  --theme-editor-render-switcher-text: #242222;
  --theme-editor-render-switcher-background: #fa8373;
  --theme-text-1: #faa59e;
  --theme-text-2: #faa59e;
  --theme-text-3: #faa59e;
  --theme-icon: #725656;
  --theme-icon-hover: #fa8373;
  --theme-icon-active: #fa8373;
  --theme-text-commands-1: #faa59e;
  --theme-text-active: #faa59e;
  --theme-grammar-error: #ff6261;
  --theme-spelling-error: #ffee91;
  --theme-target-text: #54b1ff;
  --theme-logger-background: #242222;
  --theme-logger-log-text: rgb(167, 255, 229);
  --theme-logger-log-background: rgba(167, 255, 229, 0.1);
  --theme-logger-warn-text: rgb(255, 198, 132);
  --theme-logger-warn-background: rgb(255, 198, 132, 0.1);
  --theme-logger-error-text: rgb(255, 137, 135);
  --theme-logger-error-background: rgb(255, 137, 135, 0.1);
  --theme-logger-info-text: rgb(103, 147, 255);
  --theme-logger-info-background: rgb(103, 147, 255, 0.1);
  --theme-logger-entity-background: #282626;
  --theme-logger-entity-text: #faa59e;
  --theme-pwa-prompt-text: #fa8373;
  --theme-pwa-prompt-background: #242222;
  --theme-pwa-prompt-button-text: #fa8373;
  --theme-pwa-prompt-button-background: #514646;
  --theme-milkdown-primary: #faa59e;
  --theme-milkdown-secondary: #725656;
  --theme-milkdown-neutral: #faa59e;
  --theme-milkdown-solid: #514646;
  --theme-milkdown-shadow: #514646;
  --theme-milkdown-line: #514646;
  --theme-milkdown-surface: #242222;
  --theme-milkdown-background: #242222;
  --theme-milkdown-default: #faa59e;
  --scr-track: #222;
  --scr-thumb: #3b3737;
  --scr-thumb-hover: #504b4b;
  --wb-selection: rgba(0, 0, 0, 0.2);
  --wb-text-selection: #b35d52;
}
