/* for other routes */
:root {
  --scr-track: #d1d5db;
  --scr-thumb: #1f2937;
  --scr-thumb-hover: #777;
  --wb-selection: rgba(0, 0, 0, 0.1);
  --wb-text-selection: #000;
  --theme-black: #000000;
  --theme-white: #ffffff;
  --theme-editor-nprogress-background: #e1e1e1;
  --theme-editor-nprogress-height: 2px;
  --theme-toast-default-text: rgb(103, 147, 255);
  --theme-toast-default-background: rgb(103, 147, 255, 0.5);
  --theme-toast-default-close: black;
  --theme-toast-default-progress: rgba(0, 0, 0, 0.2);
  --theme-toast-info-text: black;
  --theme-toast-info-background: rgb(103, 147, 255, 1);
  --theme-toast-success-text: black;
  --theme-toast-success-background: rgba(167, 255, 229, 1);
  --theme-toast-error-text: black;
  --theme-toast-error-background: rgb(255, 137, 135, 1);
  --theme-toast-warning-text: black;
  --theme-toast-warning-background: rgb(255, 198, 132, 1);
  --theme-pwa-prompt-text: #e1e1e1;
  --theme-pwa-prompt-background: #1f2937;
  --theme-pwa-prompt-button-text: #e1e1e1;
  --theme-pwa-prompt-button-background: #6b7280;
}
